.top{
    background-color: #388E3C;
    position: fixed;
    top:0px;
    left:0px;
    right:0px;
}
.top a{
    color:#FFFFFF;
    text-decoration: none;
    display: block;
    float:right;
    text-align:center;
    width:12%;
    margin-right: 10px;
}
.top a:hover{
    border-bottom:2px solid chartreuse;
}

.header{
    background-color: #4CAF50;
    text-align: center;
    color:#FFFFFF;
    height:100px;
}
.main{
    width: 95%;
    margin:70px auto 0px auto;
}
.main .box{
    border:1px solid black;
}
.main .title{
    float: left;
    color:#727272;
}
.main a{
    float: right;
    margin-left: 15px;
}
.aaa{
    background-color: blue;
    position: fixed;
    top:0px;
    right:0px;
    bottom:0px;
    left: 0px;
    opacity: 0.3;
    transition:all 5s;
}
.aaa.aaas{
    display: none;
}
.bbb{
    font-size: 48px;
    font-weight: bold;
    color: #eee;
    text-align: right;
    line-height: 80px;
    background-color: #800000;
    position: fixed;
    top:0px;
    left: 0px;
    bottom: 0px;
    width: 50%;
    transition:transform 4s;
}
.bbb.bbbs{
    transform:translateX(-100%);
}
.ccc{
    font-size: 48px;
    font-weight: bold;
    color: #eee;
    text-align: left;
    line-height: 80px;
    background-color: #800000;
    position: fixed;
    top:0px;
    right: 0px;
    bottom:0px;
    width:50%;
    transition:transform 4s;
}
.ccc.cccs{
    transform:translateX(100%);
}