.top{
    background-color: #388E3C;
    position: fixed;
    top:0px;
    left:0px;
    right:0px;
}
.top a{
    color:#FFFFFF;
    text-decoration: none;
    float: right;
    text-align:center;
    border-bottom:2px solid transparent;
    transition:all 0.3s;
}
.top a:hover{
    color:yellow;
    border-bottom:2px solid yellow;
}
.container{
    width: 90%;
    margin:0 auto;
}
.container .current{
    margin-left: 40px;
}
.header{
    background-color: #4CAF50;
    color:#FFFFFF;
    height:100px;
}
.main{
    width: 95%;
    margin:70px auto 0px auto;
}
.main .box{
    border:1px solid black;
}
.main .title{
    float: left;
    color:#727272;
}
.main a{
    float: right;
    margin-left: 15px;
}
.aaa{
    background-color: blue;
    position: fixed;
    top:0px;
    right:0px;
    bottom:0px;
    left: 0px;
    opacity: 0.3;
    transition:all 5s;
}
.aaa.aaas{
    display: none;
}
.doora{
    color: #eee;
    font-size: 48px;
    font-weight: bold;
    line-height: 65px;
    background-color: #800000;
    transition:transform 4s;
    text-align: right;  
    position: fixed;
    top:0px;
    left: 0px;
    bottom: 0px;
    width: 50%;
}
.doorb{
    color: #eee;
    font-size: 48px;
    font-weight: bold;
    line-height: 65px;
    background-color: #800000;
    transition:transform 4s;
    text-align: left;
    position: fixed;
    top:0px;
    right: 0px;
    bottom:0px;
    width:50%;
}
.doora.dooras{
    transform:translateX(-100%);
}
.doorb.doorbs{
    transform:translateX(100%);
}
@media (min-width: 786px){
    .doora,.doorb{
        line-height: 85px;
    }
}