body{background-color: grey;}
li{list-style-type: none;}
.nav{width:250px;height:30px;}
.nav li{float:left;width:70px;text-align: center;}
a{text-decoration: none;font-weight:bold;}
a:hover{color:#9fee22;font-weight:none;text-decoration:underline;}