
*{
	margin:0;
	padding:0;
	/*box-sizing:border-box;*/
}
body{
	font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
	font-weight:bold;
}
a:hover{
	color:#9fee22;
	font-weight:none;
	text-decoration:underline;
}
.clearfix:after,
.clearfix:before{
	content: "";
	display: table;
}
.clearfix:after{
	clear: both;
}
.header,.footer{
	background-color: #1E90FF;
}
.header{
	position:fixed;width:100%;
}
.header_inner{
	width: 1200px;
	height: 54px;
	margin:0 auto;
	/*margin-bottom: 100px;*/
}
.logo{
	float: left;
}
.logo img{
	width: 50px;
	height: 50px;
}
.nav{
	margin-left: 100px;
}
.nav li{
	float:left;
	border-bottom: 1px solid #87CEEB;
}
.nav .left_border
{
	border-left: 1px solid #87CEEB;
}
.nav li a{
	display: block;
	width:100px;
	text-align: center;
	line-height: 53px;
	border-right: 1px solid #87CEEB;
}
.footer{
	text-align: center;height: 50px;line-height: 50px;
}