.box p{
	text-align: center;
	padding-top: 20px;
}
.boxs{
	width: 100px;
	height: 100px;
	background-color: green;
	border-radius: 50%;
	margin: 90px 200px;
	transition:all 2s .1s;
}
.boxs.boxss{
	transform:translateX(100px);
	background-color: red;
}
