.box p{
	text-align: center;
}
.boxs{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: lightseagreen;
	margin:50px auto;
}
.boxs.boxss{
	width: 150px;
	height: 150px;
	background-color: blue;
}