.clearfix:after,
.clearfix:before{
	content:"";
	display: table;
}
.clearfix:after{
	clear:both;
}
*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
a{
	text-decoration: none;
}
a i{	
	font-size: 32px;
	color:#FFFFFF;
}
li{
	list-style-type: none;
}
.header{
	background-image: url(../../images/29-bg.JPG);
	width: 100%;
	height: 200px;
}
.header a{
	color: #eee;
	border:1px solid #eee;
	padding:10px;
	position: fixed;
	top:10px;
	left: 10px;
	border-radius: 10px;
}
.header h1{
	color:#ffffff;
	text-align: center;
	line-height: 200px;
}
.main{
	background-color: #2F4F4F;
	color:white;
}
.main .main_inner{
	width: 960px;
	margin:0 auto;
}
/*.main_inner p{
	color:white;
}*/
footer{
	text-align: center;
	position: absolute;
	bottom: 0px;
	width: 100%;
	color:#FFA500;
}