.clearfix:after,
.clearfix:before{
	content:"";
	display: table;
}
.clearfix:after{
	clear:both;
}
*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
body{
	background-image: url(../images/beige_paper.png);
}
a{
	text-decoration: none;
}
a i{	
	font-size: 32px;
	color:#FFFFFF;
}
li{
	list-style-type: none;
}
.header{
	position: fixed;
	top:0;
	left: 0;
	background-color:#795548;
	width: 100%;
}
.header a{
	color: #eee;
	border:1px solid #eee;
	padding:10px;
	position: fixed;
	top:10px;
	left: 10px;
	border-radius: 10px;
	display: none;
}
.header h1{
	color:#ffffff;
	text-align: center;
	line-height: 200px;
}
.icon-reorder{
	color:#eee;
	position: fixed;
	top:15px;
	left: 15px;
	font-size: 32px;
	cursor: pointer;
}
/*锚标记*/
a.hamburger{
display: block;
width: 40px;
height: 40px;
background-color: #7FFFD4;
text-align: center;
position: fixed;
right: 15px;
bottom:42px;
z-index: 1;
line-height: 50px;
border-radius: 10%;
-webkit-transtion:background-color 3s;
transition:background-color 1s;
}
a.hamburger:hover{
	background-color: #00FFFF;
}
/*主体*/
.main{
	width: 95%;
	margin:250px auto 0px auto;
}
.box{
	margin-top:10px;
	box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.16), 0px 2px 5px 0 rgba(0, 0, 0, 0.12);
	-webkit-transition: all 1s;
	transition:all 1s;
	margin:10px auto;
	max-width: 800px;
}
.box:hover{
	box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.16), 0px 2px 20px 0 rgba(0, 0, 0, 0.12);
}
.doc{
	background-color: #9E9E9E;
	height: 80px;
	text-align: center;
	line-height: 80px;
	color: #ffffff;
	font-weight: bold;
	font-size: 20px;
}
.essay,.title,.date,.fonticon{
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.essay{
	height: 100px;
	background-color: #fff;
}
.essay .pic{
	width: 100px;
	height: 100px;
	float: left;
	line-height: 100px;
	text-align: center;
}
.essay .pic .fonticon{
	color: #000;
	font-size: 20px;
}
.box:hover .essay{
	background-color: #000;
}
.box:hover .essay .pic .fonticon{
	color: #fff004;
	font-size: 50px;
}
.box:hover .essay .title{
	font-size: 14px;
	color:#fff004;
}
.box:hover .essay .date{
	font-size: 28px;
	color:#fff;
}
.title{
	padding:15px 0px 10px 15px;
	text-align: center;
	color:#212121;
	font-size: 1.3rem;
}
.date{
	text-align: center;
	padding-left: 20px;
	color: #727272;
}
.nav{
	position: fixed;
	top:0px;
	bottom:0px;
	left: 0px;
	width:150px;
	z-index: 4;
	background-color: blue;
	opacity:.4;
	transition:transform 3s;
	transform:translateX(-150px);
}
.nav.navs{
	transform:translateX(0px);
}
.nav a{
	color:#eee;
	text-align: center;
	line-height: 13em;
}
.nav a:hover{
	color:#fff;
}
.max_btn{
	position: fixed;
	top:0px;
	right:0px;
	bottom:0px;
	width: 80%;
	z-index: 4;
	display:none;
}
.max_btn.max_btns{
	display:block;
}
@media (min-width:764px){
	.doc{
		width: 5%;
		height: 100px;
		line-height: 100px;
		float: left;
	}
	.essay{
		width: 95%;
		float: right;
		height: 100px;
	}
	.title,
	.date{
		text-align: left;
	}
	.title{
		font-size: 28px;
	}
	.date{
		font-size: 14px;
	}
	.icon-reorder{
		display: none;
	}
	.header a{
		display: inline;
	}
}