.clearfix:after,
.clearfix:before{
	content: "";
	display: table;
}
.clearfix:after{
	clear:both;
}
.main_inner{
	width: 1000px;
	margin:10% auto;
	border:1px solid gray;
}
.div-one,
.div-two,
.div-three{
	border:1px solid #DAA520;
	margin:2px;
}
.div-three p{
	width: 800px;
	float: left;
}
.div-three .anliyi,
.div-three .anlier{
	float: left;
}
.div-three .anliyi i{
	font-size: 32px;
	background-color: #63B8FF;
}
.glyphicon.glyphicon-search{
	width: 36px;
	height: 36px;
	background-color: #63B8FF;
	color:black;
	text-align: center;
	line-height: 36px;
}