body{
	background-color: #000;
}
.header .logo{
	width: 5em;
	height:5em;
	background-image: url(../../images/logo.gif);
	-webkit-background-size: cover;
	background-size: cover;
	float: left;
	/*display: none;*/
}
.header .nav{
	color:white;
	position: absolute;
	left: 50%;
	-webkit-transform:translate(-50%);
}
.header .nav li{
	float: left;
	font-weight: bold;
	font-size: 1.1em;
	letter-spacing: 0.7em;
	width: 10vw;
	text-align: center;
	line-height:4.6em;
}
.header .nav li a{
	color:white;
}
.header .search{
	padding:1.9vw;
	margin: 0 auto;
	float: right;
}
@media (min-width: 768px) and (max-width: 991px){

}
@media (max-width: 768px){
	.header .logo{display: none;}
	.header .nav li{letter-spacing: 0.4em;width:10vw;}
	.header .search{display: none;}

}
.banner{
	width:70%;
	margin:0 auto;
	height:25em;
	background-color: #000;
	border:5px solid white;
	margin-top: 10px;
	position: relative;
	overflow: hidden;
}
.banner .view{
	width: 236.4em;
	height: 24.4em;
}
.banner .pic img{
	width: 59.1em;
	height: 24.4em;
	display: block;
	float: left;
}
.banner .btn{
	position: absolute;
	bottom:20px;
	left:50%;
	margin-left: -60px;
}
.banner ul li{
	width: 10px;
	height: 10px;
	margin-right: 2em;
	background-color: #fff;
	opacity: .4;
	border-radius: 50%;
	cursor:pointer;
	float: left;
}
a i{	
	font-size: 32px;
	color:#FFFFFF;
}
a.hamburger{
display: none;
width: 40px;
height: 40px;
background-color: #7FFFD4;
text-align: center;
position: fixed;
right: 15px;
bottom:42px;
z-index: 1;
line-height: 50px;
border-radius: 10%;
-webkit-transtion:background-color 3s;
transition:background-color 1s;
}
a.hamburger:hover{
	background-color: #00FFFF;
}