*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
a:link,
a:visited{
	text-decoration:none; 
}
li{
	list-style-type:none;
}
.clearfix:after,
.clearfix:before{
	content: "";
	display: table;
}
.clearfix:after{
	clear:both;
}
body{
	color: #D5D6E2;
	font-weight: 500;
	font-family: "Microsoft YaHei","宋体","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif, FreeSans, Arimo;
}