*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
a:link,
a:visited{
	text-decoration:none; 
}
li{
	list-style-type:none;
}
.clearfix:after,
.clearfix:before{
	content: "";
	display: table;
}
.clearfix:after{
	clear:both;
}